table, tr, th ,td{
    border: 1px dashed black;
    border-collapse: collapse;
}
body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: navy;
    margin-left: 20px;
    background-color: lightskyblue; 
} 
p {
    font-size: 16px;
    margin-left: 40px;
    color: darkblue;
}
a {
    color: grey;
}    
#info{
    background-color: thistle;
}
.hightlight{
    background-color: yellow;
}
#City Zoo{
    font-weight: bold;
    color: green;
    text-decoration:wavy underline;
}