form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;

}

body {
    background-color: #63a0b8;
    padding: 20px;
}
fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color:bisque
}

legend {
    font-weight: bold;
    background-color: thistle;
    border-color: black;
    border-width: 10px;
    border-radius: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 20px 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 10px 0;
    border-radius: 15px;
}
h3 {
    text-align: center;

}
p {
    text-align: center;
}
img {
    display: flex;
    margin: 10px auto;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    gap:16px;
 
}
.gallery img{
    width: 250px;
    height:250px;
    display: flex;
}
.gallery figcaption{
    text-align:center;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
}