form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;

}

body {
    background-color: #63a0b8;
    padding: 20px;
}
fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 20px 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 10px 0;
}
h3 {
    text-align: center;

}
p {
    text-align: center;
}